<% layout("/layout/boilerplate")%>
<body>
    <div class="row">
    <div class="col-6 offset-2"><br/>
    <h3>Create New Listing</h3>
    <br/>
    <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data"> <!--bootstrap validation for required fields- it will basically invalidated the default brower setting and will help add the custom bootsrap setting-->
        <div class="mb-4">
            <label for="title" class="form-label">Title:</label>
            <input type="text" placeholder="Write a catchy title" name="title" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Please provide a title.</div>

        </div>
        <div class="mb-4">
            <label for="description" class="form-label">Description:</label><br/>
            <textarea placeholder="Write a detailed description" name="description" rows="5" cols="35" class="form-control" required></textarea>
            <div class="invalid-feedback">Description should contain atleast 20 words.</div>
        </div>
        <div class="row">
            <div class="mb-4 col-md-4">
                <label for="price" class="form-label">Price:</label>
                <input type="number" placeholder="1200" name="price" class="form-control" required>
                <div class="invalid-feedback">Please provide a valid price.</div>
            </div>
            <div class="mb-4 col-md-8">
                <label for="country" class="form-label">Country:</label>
                <input type="text" placeholder="India" name="country" class="form-control" required>
                <div class="invalid-feedback">Please provide a country.</div>
            </div>

        </div>
        <div class="mb-4">
            <label for="image" class="form-label">Upload Image </label>
            <input type="file"  name="image" class="form-control" required>
        </div>
        <div class="mb-4">
            <label for="category" class="form-label">Category:</label>
            <select name="category" class="form-select" required>
              <option value="" disabled selected>Select a category</option>
              <option value="Iconic cities">Iconic Cities</option>
              <option value="Beach">Beach</option>
              <option value="Mountain">Mountain</option>
              <option value="Farms">Farms</option>
              <option value="Camping">Camping</option>
              <option value="Family house">Family House</option>
              <option value="Castle">Castle</option>
              <option value="Artic">Artic</option>
              <option value="Amusement parks">Amusement Parks</option>
              <option value="Historical">Historical</option>
              <option value="Other">Other</option>
            </select>
            <div class="invalid-feedback">Please select a category.</div>

        </div>
        <div class="mb-4">
            <label for="location" class="form-label">Location:</label>
            <input type="text" placeholder="Jagashware,Uttarkhand" name="location" class="form-control" required>
            <div class="invalid-feedback">Please provide a location.</div>
        </div>

        <!-- <div class="mb-4">
            <label for="category" class="form-label">Category:</label>
            <select name="category" class="form-select" required>
              <option value="" disabled selected>Select a category</option>
              <option value="iconic cities">Iconic Cities</option>
              <option value="beach">Beach</option>
              <option value="mountain">Mountain</option>
              <option value="farms">Farms</option>
              <option value="camping">Camping</option>
              <option value="family house">Family House</option>
              <option value="castle">Castle</option>
              <option value="artic">Artic</option>
              <option value="amusement park">Amusement Park</option>
              <option value="other">Other</option>
            </select>
            <div class="invalid-feedback">Please select a category.</div>
        </div> -->

        <!-- <button class="btn btn-dark add-btn">Add</button> -->
         <input type="submit" value="Create Listing" class="btn btn-dark add-btn"/>
        <br/><br/>
    </form>
</div>
</div>
</body>

